<link rel="stylesheet" type="text/css" href="./css/style.css" />
<link rel="stylesheet" type="text/css" href="./css/login-style.css" />
<link rel="stylesheet" type="text/css" href="./css/animate-custom.css" />

<link rel="stylesheet" type="text/css" href="./css/bootstrap-social.css" />
<link rel="stylesheet" type="text/css" href="./css/assets/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="./css/assets/css/docs.css" />
<link rel="stylesheet" type="text/css" href="./css/assets/css/font-awesome.css" />

<body class="home-page" cz-shortcut-listen="true">
    
    <div class="mainLogo"><img src="./img/logo.png"/></div>
    
    <div class="homepage-container">
    <div class="slideshow">
        <div id="slideshow">
  
            <section>				
                <div id="container_demo">

                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            <form action="mysuperscript.php" autocomplete="on"> 
                                <h1>Log in</h1> 
                                <p> 
                                    <label for="username" class="uname" data-icon="u"> Your email or username </label>
                                    <input id="username" name="username" required="required" type="text" placeholder="myusername or mymail@mail.com">
                                </p>
                                <p> 
                                    <label for="password" class="youpasswd" data-icon="p"> Your password </label>
                                    <input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO"> 
                                </p>
                                <p class="keeplogin"> 
									<input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping"> 
									<label for="loginkeeping">Keep me logged in</label>
								</p>
                                <p class="login lbutton"> 
                                    <input type="submit" value="Login"> 
								</p>
                                <p class="change_link">
									Not a member yet ?
									<a href="#toregister" class="to_register">Sign Up</a>
								</p>
                            </form>
                        </div>

                        <div id="register" class="animate form">
                            <form action="mysuperscript.php" autocomplete="on"> 
                                <h1> Sign up </h1> 
                                <p> 
                                    <label for="usernamesignup" class="uname" data-icon="u">Your username</label>
                                    <input id="usernamesignup" name="usernamesignup" required="required" type="text" placeholder="mysuperusername690">
                                </p>
                                <p> 
                                    <label for="emailsignup" class="youmail" data-icon="e"> Your email</label>
                                    <input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="mysupermail@mail.com"> 
                                </p>
                                <p> 
                                    <label for="passwordsignup" class="youpasswd" data-icon="p">Your password </label>
                                    <input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="eg. X8df!90EO">
                                </p>
                                <p> 
                                    <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label>
                                    <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="eg. X8df!90EO">
                                </p>
                                <p class="signin lbutton"> 
									<input type="submit" value="Sign up"> 
								</p>
                                <p class="change_link">  
									Already a member ?
									<a href="#tologin" class="to_register"> Log In </a>
								</p>
                            </form>
                        </div>
						
                    </div>
                </div>  
            </section>
            
</div><!-- #slideshow--></div>
        
        
 <div class="login-box">
     <div class="inner-padding">
         <img src="img/rightPanelLogo.jpg" width="217" height="239" alt="Logo" class="logo">
         <h3>Ready to go web chat room.</h3>
         <p>
             
             <a href="/auth/twitter" class="btn btn-block btn-social btn-twitter"><span class="fa fa-twitter"></span> Sign in with Twitter</a><em>or</em>
             <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook"><span class="fa fa-facebook"></span> Sign in with Facebook</a><em>or</em>
             <a href="/auth/github" class="btn btn-block btn-social btn-github"><span class="fa fa-github"></span> Sign in with GitHub</a><em>or</em>
             <a href="/auth/google" class="btn btn-block btn-social btn-google"><span class="fa fa-google"></span> Sign in with Google</a>
             
 
         </p>
     </div>
 </div>
        
        
 </div>
    
    <footer>Advance Application Programming Project</footer>
        
        
</body>


       