extends layout

block content
    header
        //include status_dropdown
        include rooms_dropdown 

    include ../../../index.html

    sidebar
            include chat_list

    script(scr="/socket.io/socket.io.js")
    link(rel="stylesheet", href="/css/styles-drawing.css")
    script(src="/js/script-drawing.js")