extends layout

block content
	.homepage-container
		.slideshow
			#slideshow
				.slide
					h2 MultiChannel Chat Application
					button(on click="move()") Login
					button(on click="move()") Register
					
					.slide-image
					//p.login_head Login or Register with:
						//a.btn.btn-default(href="/login")
							//span.fa.fa-user Login
						//a.btn.btn-default(href="/signup")
							//span.fa.fa-user Register
					
			// #slideshow
			
		.login-box
			.inner-padding
				img.logo(src='img/rightPanelLogo.jpg', width='217', height='239', alt='Logo')
				h3 Login using Social Media
				p
					a#twitbutt.sb.sb-small.social(href="/auth/twitter") 
						i 
						| Sign in with Twitter
					em or
					a#fbbutt.sb.sb-small.social(href="/auth/facebook") 
						i
						| Sign in with facebook
					em or
					a#fbbutt.sb.sb-small.social(href="/auth/github") 
						i
						| Sign in with GitHub
					em or
					a#fbbutt.sb.sb-small.social(href="/auth/google") 
						i
						| Sign in with Google	

		// #login-box 
	// .homepage-container
	
	footer
		| Advance Application Programming Project
		//img.logo(src='img/wood.jpg', width='217', height='239', alt='Logo')
	// JavaScript at the bottom for fast page loading 

